*{
    font-family: American Typewriter;
}
.navbar-nav {
    flex-direction: row;
    justify-content: flex-end;
}
.navbar-collapse {
    flex-basis: auto;

}
.nav-item{
    margin-right: 2%;
}
.user_li{
    display: inline-block;
    margin-right: 6px;
}
.signin-content{
    padding-top: 67px;
    padding-bottom: 87px;
}
.signin-form{
    display: block;
    text-align: center;
}
.signin-form p{
    margin-bottom:20px;
}

.signin-form h1{
    line-height: 2;
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 36px;
}
.main{
    height:auto;
}
.main img{
    padding-top:100px;
    padding-bottom:100px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.about{
    margin-top: 48%;
    padding-top: 20px;
    padding-left: 150px;
    border-top: 2px solid;
    border-color:rgba(253, 235, 79, 0.75);
}
.about p{
    padding-left:30px;
}
#submit{
    cursor:pointer;
    background: #e50663;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
}
.type_name{
    padding: 10px 10px;
    margin-bottom: 60px;
    text-align: center;
}
.type_name i {
    color: #fff;
    font-size: 21px;
    display: inline-block;
    margin-bottom: 10px;
}
.type_name h2 {
    font-weight: bold;
    font-size: 34px;
    margin: 0;
}
.type_name p {
    max-width: 500px;
    margin: 20px auto 0;
}
.single-publication {
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.single-publication figure {
    position: relative;
    margin: 0;
    text-align: center;
}
.single-publication figure > a {
    background-color: #fafafa;
}
.single-publication figure ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: -140px;
    top: 20px;
    transition: .6s;
    -webkit-transition: .6s;
}
.single-publication:hover figure ul {
    right: 25px;
}
.single-publication figure ul li a {
    display: inline-block;
    width: 135px;
    height: auto;
    text-align: center;
    font-size: 15px;
    background: #ff007d;
    margin-bottom: 7px;
    line-height: 15px;
    color: #fff;
}
.single-publication figure ul li a:hover {
    color: #fff;
    background: #e50663;
}
.single-publication .publication-content {
    text-align: center;
    padding: 20px;
}
.single-publication .publication-content .category {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #ff007d;
    font-weight: 600;
}
.single-publication .publication-content h3 {
    font-weight: 600;
    margin: 8px 0 10px;
    font-size: 20px;
}
.single-publication .publication-content h3 a {
    color: #fff;
}
.single-publication .publication-content h3 a:hover {
    color: #ff007d;
}
.single-publication .publication-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.single-publication .publication-content ul li {
    display: inline-block;
    font-size: 18px;
    color: #fec42d;
}
.single-publication .publication-content .price {
    font-size: 18px;
    color: #ff007d;
}
.single-publication .publication-content .price span {
    color: #6f6f6f;
    text-decoration: line-through;
    padding-left: 5px;
    font-weight: 300;
    }
.single-publication .add-to-cart {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background: #e50663;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transform: scale(.7);
    height: 105px;
    transition: .4s;
}
.single-publication:hover .add-to-cart {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.single-publication .add-to-cart .default-btn {
    margin-top: 23px;
    padding: 8px 25px;
    font-size: 14px;
}
.single-publication .add-to-cart .product-quantity{
    margin-top:5px;
}

.menu_left{
    list-style-type: none;
    position:fixed;
    margin-top: 10%;
    padding: 0;
}
.menu_left li a{
    color:#fff;
    opacity:0.5;
    text-decoration:none;
}
.menu_left li a:hover{
    opacity:1;
}
.shopping_cart{
    margin-top:10px;
    position:fixed;
    width:20%;
}
.cart_list{
    height:auto;
    margin-top: 30px;
    margin-left:5%;
}
.cart_footer{
    margin-top:50px;
}
table{
    text-align:center;
}
.table{
    color:#fff;
}
.table td{
    width: 90px;
}
.table td:first-child{
    width: 20px;
}
.del{
    color:#fff;
}
.del:hover{
    color:#e50663;
}
.make_order{
    margin-bottom:40px;
    width:100%;
    background-color:#fff;
}

.cart{
    width:80%;
    padding: 10% 0% 20% 23%;
}

.cart .cart_footer p{
    text-align:end;
}

.quantity_changes{
    color:#fff;
    background-color:#000;
}
.profile_block{
    border: 1px solid #fff;
    padding-top:50px;
    padding-bottom:50px;
}
.profile_edit_block{
    border: 1px solid #fff;
    padding-top:50px;
    padding-bottom:50px;
    text-align:center;
}
.profile_edit_block h3{
    margin-bottom:30px;
}
.profile{
    margin-top: 50px;
    margin-left: 20px;
}
.user_info{
    background-color:#fff;
    color: #000;
    padding: 3px;
    text-align:center;
    border-radius: 10px;
}
.user_info_bd{
    padding: 3px;
    text-align:center;
    border-bottom:1px solid #fff;
}
.edit_profile{
    position:relative;
    top:40px;
    color: #fff;
    padding-left:30px;
}
.main_profile_block{
    padding-top:40px;
    padding-bottom:40px;
}
.profile_block h3{
    text-align:center;
}
.msg_order{
    text-align:center;
    background-color:#e50663;
    padding-top:30px;
    padding-bottom:30px;
    border: 1px solid #fff;
}