{% extends "base.html" %}

{% block content %}
<div class="row main_profile_block">
    <div class="col-3"></div>
    <div class="col-6 profile_edit_block" style="height:auto;">
        <h3>Edit Profile</h3>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.username.label }}<br>
                {{ form.username(size=32) }}<br>
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.email.label }}<br>
                {{ form.email(size=32) }}<br>
                {% for error in form.email.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>
                {{ form.phone_number.label }}<br>
                {{ form.phone_number(size=32) }}<br>
                {% for error in form.phone_number.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p class="edit-btn">{{ form.submit() }}</p>
        </form>
    </div>
    <div class="col-3"></div>
</div>

{% endblock %}