{% extends "base.html" %}

{% block content %}
    <div class="container sign-in">
        <div class="signin-content">
            <div class="signin-form">
                <h1>Sign In</h1>
                <form action="" method="post" novalidate>
                    {{ form.hidden_tag() }}
                    <p>
                        <i class="bi bi-person-circle"></i>
                        {{form.username.label}}<br>
                        {{form.username(size=32)}}<br>
                        {% for error in form.username.errors %}
                        <span style="color:red;">[{{error}}]</span>
                        {% endfor %}
                    </p>
                    <p>
                        <i class="bi bi-key-fill"></i>
                        {{ form.password.label }}<br>
                        {{ form.password(size=32) }}<br>
                        {% for error in form.password.errors %}
                        <span style="color:red;">[{{error}}]</span>
                        {% endfor %}
                    </p>
                    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
                    <p>{{ form.submit() }}</p>

                </form>
                <p>New User? <a href="{{ url_for('register') }}">Click to Register!</a></p>
                <p>Forgot your password? <a href="{{ url_for('check_data') }}">Click to update!</a></p>
            </div>

            {% with messages = get_flashed_messages(category_filter="login") %}
                {% if messages %}
                    <div class="msg_order">{{messages}}</div>
                {%endif%}
            {%endwith%}

        </div>
    </div>
{% endblock %}